{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // or "entry"
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-transform-arrow-functions",
    [
      "@babel/transform-runtime",
      {
        "corejs": 3
      }
    ],
    ["module-resolver", { "root": ["./src"] }]
  ]
}
